<h1 class="text-center mb-5">Listing all articles</h1>

<%= will_paginate class: 'd-flex justify-content-center' %>
<%= render 'article', obj: @articles %>
<%= will_paginate class: 'd-flex justify-content-center' %>

