<h1 class="text-center mb-5">About</h1>

<section>
  <p>
    <strong>Alpha Blog: Lorem ipsum dolor sit amet,</strong> consectetur adipiscing elit. Duis ornare ipsum porttitor, vestibulum tellus eget, auctor justo. Aliquam nec elit et mi vehicula suscipit. Duis sed lacinia quam. Praesent mollis ligula vel neque varius porttitor. Vivamus condimentum magna nulla, sit amet tempor libero consequat sed. Nullam mollis magna quis venenatis ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sagittis urna vitae enim condimentum ullamcorper quis vel erat. Cras arcu nulla, ullamcorper dapibus maximus ac, sagittis id nunc. In et dui ut turpis consequat imperdiet. Maecenas consequat porta tempus. Maecenas consectetur dui nec eros aliquam tempor. Pellentesque placerat fringilla felis ac ultrices. Aliquam et dui eget purus commodo maximus. Vivamus mattis nec risus nec sodales. Mauris imperdiet varius est sit amet volutpat.
  </p>
  <p>
    consectetur adipiscing elit. Duis ornare ipsum porttitor, vestibulum tellus eget, auctor<a href="#" target="_blank">"Maecenas consectetur dui"</a> placerat fringilla felis.
  </p>
</section>
