<div>
  <h1>About</h1>

  <section>
    <p>
      <strong>Komplitt: Forum for Comparative Literature</strong> is a research group based at the Centre for Languages and Literature (SOL) of Lund University. It was founded in 2013 with the aim to foster close collaboration among scholars across the 17 language sections at the Centre and promote interdisciplinary approaches to literary studies. Komplitt has established itself as the first and unique research group of its kind in Sweden, which is committed to bringing Scandinavian perspectives to the global development of Comparative Literature as a discipline. We organise research seminars, symposiums, conference panels and round-table discussions with invited guest speakers. We welcome all forms of collaborations and organisatonal partnerships.
    </p>
    <p>
      For a research statement of our group, see "<a href="#" target="_blank">Towards a Swedish Model of Comparative Literature"</a> on "Resarch Projects" page.
    </p>
  </section>

  <hr>

  <section>
    <h4>Members of committee</h4>
    <div>
      <img srcset="https://komplitt.s3.amazonaws.com/production/person/image/3/img160x160_IMG_4327__3_.jpeg 1x, https://komplitt.s3.amazonaws.com/production/person/image/3/img160x160x2_IMG_4327__3_.jpeg 2x" width="160" height="160" src="https://komplitt.s3.amazonaws.com/production/person/image/3/img160x160_IMG_4327__3_.jpeg" alt="Img160x160 img 4327  3 ">
      <div>
        <span>Shuangyi Li, French, Chinese</span><br>
        <b>E-mail: </b><a href="mailto:shuangyi.li@litt.lu.se">shuangyi.li@litt.lu.se</a><br>
        <b>Phone: </b><a href="tel:+46 46 222 88 06">+46 46 222 88 06</a><br>
        <b>Room: </b>SOL: L507b<br>
        <b>Visiting address: </b>Helgonabacken 12, Lund<br>
        <b>Postal address: </b>Box 201, 221 00 Lund<br>
        <b>Internal post code: </b>20<br>
        <a target="_blank" href="#">Profile</a>
      </div>
    </div>

    <div>
      <img srcset="https://komplitt.s3.amazonaws.com/production/person/image/8/img160x160_Alexander.jpg 1x, https://komplitt.s3.amazonaws.com/production/person/image/8/img160x160x2_Alexander.jpg 2x" width="160" height="160" src="https://komplitt.s3.amazonaws.com/production/person/image/8/img160x160_Alexander.jpg" alt="Img160x160 alexander">
      <div>
        <span>Alexander Bareis, German</span><br>
        <b>E-mail: </b><a href="mailto:alexander.bareis@tyska.lu.se">alexander.bareis@tyska.lu.se</a><br>
        <b>Phone: </b><a href="tel:+46 46 222 91 63">+46 46 222 91 63</a><br>
        <b>Room: </b>SOL: L313c<br>
        <b>Visiting address: </b>Helgonabacken 12, Lund<br>
        <b>Postal address: </b>Box 201, 221 00 Lund<br>
        <b>Internal post code: </b>20<br>
        <a class="link" target="_blank" href="http://www.sol.lu.se/en/person/AlexanderBareis/">Profile</a>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <h4>Affiliated Members</h4>
    <ul>
      <li><a target="_blank" href="#">Astrid Møller-Olsen</a></li>
      <li><a target="_blank" href="#">Erik Zillén</a></li>
    </ul>
  </section>
</div>
