<header>
  <a href="/">
    <img src="/assets/logo-aff2edfd2fcf46b2f7ac4f6825838c93ffbbcfc9a4154eda8e09e3e64608d7d3.svg" alt="Logo">
  </a>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">About</a></li>
    </ul>
  </nav>
</header>

<div>
  <section>
    <h1>KOMPLITT: Forum for Comparative Literature</h1>
    <h3>Researching the Republic of Letters from Scandinavian Perspectives</h3>
    <p>
      Based at the Centre for Languages and Literature (SOL) of Lund University, our research group aims to foster close collaboration among scholars across language sections and promote interdisciplinary approaches to literary studies in Sweden and beyond.
    </p>

    <a href="#">learn more</a>
  </section>

  <section>
    <h2>News</h2>

    <div>
      <div>
        <time class="date" datetime="2017-10-06">October 06, 2017</time>
        <h4><a href="/">New Book Publication!</a></h4>
        <p>
          Proust, China and Intertextual Engagement: Translation and Transcultural Dialogue (Singapore: Palgrave Macmillan, 2017)
        </p>
      </div>
    </div>

    <a href="#">more news</a>
  </section>

  <section>
    <h2>Upcoming Seminar</h2>
    <div>
      <span>October 20, 13:15 - 15:00, SOL, Lingvisten L503</span>
      <h4>Solidarities Across Borders: Visions of “Black Freedom” in Turkish Modernism</h4>
      <a href="#">learn more</a>
    </div>
  </section>

  <section>
    <h2>Books</h2>
    <div>
      <div>
        <a class="book-box" href="/books/born-translated-contemporary-novel">
          <img srcset="https://komplitt.s3.amazonaws.com/production/book/image/11/img255x384_a.jpg 1x, https://komplitt.s3.amazonaws.com/production/book/image/11/img255x384x2_a.jpg 2x" src="https://komplitt.s3.amazonaws.com/production/book/image/11/img255x384_a.jpg" alt="Img255x384 a">
          <h6>Born Translated: The Contemporary Novel in an Age of World Literature (New York: Columbia University Press, 2017) by Rebecca L. Walkowitz</h6>
        </a>
      </div>
      <div>
        <a class="book-box" href="/books/proust-china-translation-intertext-transcultural">
          <img srcset="https://komplitt.s3.amazonaws.com/production/book/image/10/img255x384_511aKAFgSvL._SX352_BO1_204_203_200_.jpg 1x, https://komplitt.s3.amazonaws.com/production/book/image/10/img255x384x2_511aKAFgSvL._SX352_BO1_204_203_200_.jpg 2x" width="255" height="384" src="https://komplitt.s3.amazonaws.com/production/book/image/10/img255x384_511aKAFgSvL._SX352_BO1_204_203_200_.jpg" alt="Img255x384 511akafgsvl. sx352 bo1 204 203 200 ">
          <h6>Proust, China and Intertextual Engagement: Translation and Transcultural Dialogue (Singapore: Palgrave Macmillan, 2017) by Shuangyi Li</h6>
        </a>
      </div>
    </div>
    <a href="#">more books</a>
  </section>
</div>

<footer>
  <a href="/">
    <img src="/assets/logo-footer-dd730310c1eeb0f1b4a15b8a01f50236e0de80e542c8a8e35ac9d113107761c3.svg" alt="Logo footer">
  </a>
  <ul>
    <li><a href="/">Home</a></li>
    <li class="d-sm-flex"><a href="#">About</a></li>
  </ul>
  <div>© 2006-2017, Komplitt</div>
</footer>
