<header>
  <%= link_to root_path do %>
    <img src="https://www.komplitt.com/assets/logo-aff2edfd2fcf46b2f7ac4f6825838c93ffbbcfc9a4154eda8e09e3e64608d7d3.svg" alt="Logo">
  <% end %>
  <nav>
    <%= link_to 'Home', root_path %> |
    <%= link_to 'About', about_path %> |
    <%= link_to 'Alpha Blog', articles_path %>
  </nav>
  <hr>
</header>
